<html>
<head>
<!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
</head>
<body>
<% if new_user_signed_in? %>
  Current User => <%= current_new_user.email %>
<% end %>
<h1>Student Records!</h1>
<p>There are total <%= Student.public_count %> students and counting!!!</p>
<%= Student.hello_method_concern %>
<% @students.each do |t| %>
  <% if t.archived? != true %>
    <div>
      <p><%= link_to t.id, t %>. <%= link_to t.name, t %></p>
    </div>
  <% end %>
<% end %>
<div>
  <button><strong><a class="btn btn-primary" style="margin-left: 5px" <%= link_to "Create new record", new_student_path %></a></strong></button>
</div>
<p><%= link_to "My learnings", tutorial_learnings_path %></p>
<%= link_to "Users", users_path %>

<p>
<%= helperyo(@students.find(1).name) %>
</p>

<%= content_for :abc do %>
  <p>This was inside content_for</p>
<% end %>

<%= content_for :abc if (Student.publiczeel.count + Student.privatezeel.count) >= 9%>
<p>...</p>
<%= content_for :abc %>
<div style="display: flex; text-align: center; justify-content: center;">
  <%= image_tag "5636721.jpg", style: 'height: 100px'%>
  <%= image_tag "alcohol-borolaach.jpg", style: 'height: 100px; margin-left: 10px' %>
  <%= image_tag "alcohol-emerald-isle.jpg", style: 'height: 100px; margin-left: 10px' %>
  <%= image_tag "alcohol-taoscan.png", style: 'height: 100px; margin-left: 10px' %>
  <%= image_tag "aodh-img.png", style: 'height: 100px; margin-left: 10px' %>
</div>

<p><button style="text-decoration: none"><%= link_to 'Edit Profile', edit_new_user_registration_path %></button></p>
<h1><%= button_to 'Log out', destroy_new_user_session_path, method: :delete %></h1>
</body>

</html>