<html>
<head>
<!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
  <style>
      .digg_pagination {
          background: white;
          cursor: default;
          /* self-clearing method: */ }
      .digg_pagination a, .digg_pagination span, .digg_pagination em {
          padding: 0.2em 0.5em;
          display: block;
          float: left;
          margin-right: 1px; }
      .digg_pagination .disabled {
          color: #999999;
          border: 1px solid #dddddd; }
      .digg_pagination .current {
          font-style: normal;
          font-weight: bold;
          background: #2e6ab1;
          color: white;
          border: 1px solid #2e6ab1; }
      .digg_pagination a {
          text-decoration: none;
          color: #105cb6;
          border: 1px solid #9aafe5; }
      .digg_pagination a:hover, .digg_pagination a:focus {
          color: #000033;
          border-color: #000033; }
      .digg_pagination .page_info {
          background: #2e6ab1;
          color: white;
          padding: 0.4em 0.6em;
          width: 22em;
          margin-bottom: 0.3em;
          text-align: center; }
      .digg_pagination .page_info b {
          color: #000033;
          background: #6aa6ed;
          padding: 0.1em 0.25em; }
      .digg_pagination:after {
          content: ".";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden; }
      * html .digg_pagination {
          height: 1%; }
      *:first-child + html .digg_pagination {
          overflow: hidden; }
  </style>
</head>
<body>
<% if new_user_signed_in? %>
  Current User => <%= current_new_user.email %>
<% end %>
<br>
<h3><%= link_to 'PRODUCTS', products_path %></h3>
<h1>Student Records!</h1>
<p>There are total <%= Student.public_count %> students and counting!!!</p>
<%= Student.hello_method_concern %>

<%# @students.includes(:reviews).each do |stu| %>
<%#= stu.name %>
  <%# if stu.reviews.present? %>
<!--=> <%#=  stu.reviews.first.reviewer %>-->
    <%# end %>
<!--  <div>&nbsp;</div>-->
<%# end %>

<div style="display: flex; margin-bottom: 10px; margin-top: 5px ">
<% @studentspaginate.each do |t| %>
  <% if t.archived? != true %>
    <div>
      <button style="margin-left: 5px"><p> <%= link_to t.name, t %></p></button>
    </div>
      <br>
  <% end %>
<% end %>
</div>

<div class="digg_pagination">
<!--  <div class="page_info">-->
    <%#= page_entries_info @studentspaginate %>
<!--  </div>-->
  <%= will_paginate @studentspaginate%>
</div>

<br>
<div>
  <% if  policy(Student).index? %>
  <button><strong><a class="btn btn-primary" style="margin-left: 5px" <%= link_to "Create new record", new_student_path %></a></strong></button>
  <% end %>
</div>
<p><%= link_to "My learnings", tutorial_learnings_path %></p>
<%= link_to "Users", users_path %>

<p>
<%#= helperyo(@students.find(1).name) %>
</p>

<%= content_for :abc do %>
  <p>This was inside content_for</p>
<% end %>

<%= content_for :abc if (Student.publiczeel.count + Student.privatezeel.count) >= 9%>
<p>...</p>
<%= content_for :abc %>
<div style="display: flex; text-align: center; justify-content: center;">
  <%= image_tag "5636721.jpg", style: 'height: 100px'%>
  <%= image_tag "alcohol-borolaach.jpg", style: 'height: 100px; margin-left: 10px' %>
  <%= image_tag "alcohol-emerald-isle.jpg", style: 'height: 100px; margin-left: 10px' %>
  <%= image_tag "alcohol-taoscan.png", style: 'height: 100px; margin-left: 10px' %>
  <%= image_tag "aodh-img.png", style: 'height: 100px; margin-left: 10px' %>
</div>

<div style="background-color: #9aafe5; color: #B00100; margin: 0px; padding: 0px">
  <h2>Do you want to buy the Subscription?</h2>
    <h2>It's only 10,000$ but as you're our special customer you'll only have to pay 20,000$.</h2>
  <h4>Thank us later!!!</h4>
  <%= form_tag create_payment_method_path, id: "billing-create-payment-method" do  %>
    <button style="margin: 0px 0px 5px 5px"><strong><%= link_to "Click to buy", add_payment_method_path, remote: true %></strong></button>
  <% end %>
</div>
<p><button style="text-decoration: none"><%= link_to 'Edit Profile', edit_new_user_registration_path %></button></p>
<h1><%= button_to 'Log out', destroy_new_user_session_path, method: :delete %></h1>

</body>

</html>