<h1>Record</h1>
<p><%= @student.rollNo %></p>
<p><%= @student.name %></p>
<p><%= @student.remarks %></p>
<p><%= @student.email %></p>
<% if policy(Student).show? %>
  <p><%= link_to "Edit this record", edit_student_path %></p>
  <p>
    <%#= link_to "Delete xthis record", student_path(@student),
                data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
    <%= button_to 'Delete comment', student_path(@student),
                method: :delete, data: {confirm: 'Are you sure?'} %>
  </p>
<% end %>
<%= link_to "Preview this record", preview_student_review_path(@student.id) %>
<p><%= link_to "See all records", students_path %></p>
<h2>Reviews</h2>

<%= render @student.reviews %>
<% @student.reviews.each do |review| %>
  <% cache review.reviewer do %>
    <%= review.reviewer %>
  <% end %>
<% end %>
<%= render 'reviews/form' %>
